<mat-toolbar color="primary">Angel Wings Animal Sanctuary 
  <div class="buttonContainer">
  <button mat-button [routerLink]="['/']">Home</button>
  <button mat-button [routerLink]="['/about']">About</button>
  <button mat-button [routerLink]="['/contact']">Contact Us</button>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/ihelp']">How Can I Help</button>
    <button mat-menu-item [routerLink]="['/rlinks']">Resource Links</button>
  </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

